/*Global*/

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #efcec5;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #FFBA46;
    --color-black: #000000;
    --color-foreground: #0000dd;
    --color-background: #fdfdfd;
    --color-blue:#77b3d4;
    --color-gray:#969696;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }

/*Universal tags*/ 

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Open sans',sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
    
}

ul {
    list-style: none;
    padding-left: 0;
}


button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}


/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
 
} 

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-blue);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*Nav bar*/

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color:var(--color-blue);
    height:100px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all var(--animation-duration) ease-in-out;
  }

#navbar.navbar--dark {
    background-color: var(--color-blue);
    padding: 8px;
   
    
}



.navbar__menu {
    display: flex;
}



.navbar__logo img {
    width: 40%;
    height: 40%;
  
    
}


.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border:1px solid transparent;
    border-radius: var(--size-border-radius);
    color:var(--color-white);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}




.navbar__menu__item:hover {
    border:1px solid white;
    background-color: var(--color-dark-pink);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
    position: absolute;
    top:24px;
    right: 32px;
    font-size: 24px;
    color:var(--color-white);
    display: none;
}

/*home*/

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}


#home {
 
  width: 100%;
  height:80vh;
  background-color: var(--color-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  text-align: center;
 
  
}





.home_img img {
  margin:0 auto;
}


.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.home__title {color: #FFBA46;}


.home__description {
  color:var(--color-white);
} 

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);

}

.home__contact:hover {
  background-color: var(--color-white);
  color: var(--color-orange);
}
*/



/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  margin: auto;
}


/*Section common*/
.section {
    padding: 50px;
    text-align: center;
    margin:auto;
}

.section__container {
}


/*about*/

#about {max-width: 1200px;}

#about h2 {color: #0063DC;}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin:80px 0;
}



.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/*skill*/ 
#skills {
  background-color: var(--color-background);
   max-width: 1200px;
}

#skills .skillset {
   display: flex;
   color: var(--color-gray);
   margin: 20px 0;
   border:3px solid var(--color-blue);
}

.skillset__title {
   color: var(--color-blue);
   flex-direction: column;
}

#skills .skillset__left {
   flex-basis: 60%;
   border:1px solid var(--color-blue);
   padding: 20px 40px;
}

.skillset .skill {
   margin-bottom: 32px;
}



.skillset .skill_description {
   display: flex;
   justify-content: space-between;
   
}




.skillset .skill__bar {
   height: 20px;
   background-color: #ccc;
   border-radius:40px;
   
}

.skill__bar .skill__value {
   width:99%;
   height: 20px;
   background: var(--color-orange);
   display: block;
   border-radius:40px;
   box-sizing: border-box;
   animation: stack 2s 1;
}

.skill__bar .skill__value span {
  display: block;
  
  width:99%;
  height: 40px;

  text-align: right;

}


@keyframes stack {
  0% {width:0; color:rgba(255,255,255,0);}
  40% {  color:rgba(255,255,255,1);}
  100% {width:99%;}
}

#skills .skillset__right {
   flex-basis: 40%;
   border:1px solid var(--color-blue);
   
}

.tools {
   border-bottom: 1px solid var(--color-blue);
   
}

.tools__list {
 font-size: 20px;
 color:var(--color-blue);
 padding: 20px;
 flex-direction: column;

}


.etc {
   padding: 20px;
   border-top:1px solid var(--color-blue);
}

.etc__list {
 font-size: 20px;
 color:var(--color-blue);
 flex-direction:column;
 
}


/*work*/

.work__categories {
   margin: 40px;
}


.category__btn {
   border: 1px solid var(--color-dark-white);
   border-radius: var(--size-border-radius);
   font-size: var(--font-regular);
   padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
 background-color: var(--color-blue);
   color: var(--color-white);
}



.category__btn.selected .category__count,
.category__btn:hover .category__count {
   opacity: 1;
   top: 0;
   
}



.category__count {
   background-color: var(--color-white);
   border-radius: 50%;
   color: var(--color-white);
   width: 24px;
   height: 24px;
   line-height: 24px;
   display: inline-block;
   line-height: 24px;
   position: relative;
   top:-20px;
   left: 4px;
   opacity: 0;
   transform: all var(--animation-duration) ease;
   color:#666;
}


.work__projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   opacity: 1;
   transition:all var(--animation-duration) ease-out;
   
}


.work__projects.anim-out {
 opacity: 0;
 transform: scale(0.96) translateY(40px);
}



.project {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 280px;
   height: 250px;
   margin: 2px;
   background-color: var(--color-light-white);
}

.project.invisible {
 display: none;
}

.project__img {
   max-width: 100%;
   height: 100%;
   
}

.project__description {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: black;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0;
   transform: translateY(10px);
   transition: all var(animation-duration) ease;
   
}

.project__description h3 {
   color: #0063DC;
}

.project__description h3:after {
   content: '';
   display: block;
   position: relative;
   left: 50%;
   width: 50px;
   height: 2px;
   transform: translateX(-50%);
   margin-top:8px;
   background-color: var(--color-dark-white);
}

.project:hover .project__description {
   opacity: 0.8;
   transform: translateY(0px);
}



/*work*/

.work__categories {
    margin: 40px;
}


.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
    color: var(--color-white);
}



.category__btn.selected .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
    
}



.category__count {
    background-color: var(--color-white);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    line-height: 24px;
    position: relative;
    top:-20px;
    left: 4px;
    opacity: 0;
    transform: all var(--animation-duration) ease;
    color:#666;
}


.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition:all var(--animation-duration) ease-out;
    
}


.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}



.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
    max-width: 100%;
    height: 100%;
    
}

.project__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(animation-duration) ease;
    
}

.project__description h3 {
    color: var(--color-orange);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top:8px;
    background-color: var(--color-dark-white);
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

/*testimonials*/

.testimonials {
   background-color: var(--color-light-gray);

}

.section__container {
     
      padding: 5px;
}

.section__container h2 {color: #0063DC;}


.testimonials {
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
}

.testimonial__avatar:nth-child(odd) {
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
    margin-left: 40px;
}




.testimonial__speech-bubble {
    padding: 18px;
    background-color:var(--color-white);
    border-radius:4px;
}

.testimonial__speech-bubble p {
    color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
    color: var(--color-pink);
}


/*testimonials*/

#contact {
    background-color: var(--color-blue);

}

#contact h1 {color:var(--color-orange);}

#contact h3 {color:var(--color-white); }



ul {
  position: relative;
  display:flex;
  top:50%;
  justify-content: center;
  
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}






/*Scroll*/
.arrow-up {
  position: fixed;
  bottom: 50px;
  right:50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color:var(--color-blue);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition:  opacity 300ms ease-in;
  color: var(--color-white);
}

.arrow-up.visibe {
 opacity: 1;
 pointer-events:auto ;
}




/* For below 768px screen width */
@media screen and (max-width: 768px) {
    .navbar__toggle-btn {
      display: block;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      background: var(--color-blue);
    }

    #navbar.navbar--dark {
      padding: 16px;
    }

    #navbar .navbar__logo img {
        width: 150px;
        height: 200px;
        position: absolute;
        top: -55px;
        
    }
  
    .navbar__menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
    }


    .navbar__menu.open {
      display: block;
    }
  
    .about__majors {
      flex-direction: column;
    }
  
    .major {
      margin-bottom: 38px;
    }
  
    .skillset {
      flex-direction: column;
    }
  
    .project {
      flex-grow: 1;
    }
  
    .testimonial__avatar {
      width: 80px;
      height: 80px;
    }
  }
  